body{
  margin: 0;
  padding: 0;
}
.main{
 background:linear-gradient(to right, #ee0979,#ff0426);
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.quoter{
  width: 80vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls-container{
  width: 100%;
  height: 20%;
  border-radius: 0 0 1rem 1rem;
  background-color: aqua;
  
}
.quote-container{
  width: 80%;
  height: 70%;
  display: flex;
  align-items: flex-end;
}
.quote{
  text-align: justify;
}
.author-container{
  width: 80%;
  display: flex;
  color: #fff;
  align-items: center;
  background-color: #ff0426;
  margin-bottom: 2rem;
}
p{
  font-size: 1.5rem;
}
span{
  font-size: 1.5rem;
}