@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.main{
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.quoter{
  width: 80vw;
  height: 50vh;
  background:linear-gradient(to right, #ee0979,#ff0426);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 40px #ee097988;
}
.controls-container{
  height: 20%;
  display: flex;
  align-items: center;
  
}
.quote-container{
  width: 80%;
  display: flex;
  align-items: center;
}
.quote{
  text-align: justify;
}
.author-container{
  width: 80%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-style: italic;
}
p{
  font-size: 1.6rem;
}
p span{
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}
span{
  font-size: 1.4rem;
}
i{
  font-size: 2.1rem;
  margin: 1rem;
  cursor: pointer;
}
.fa-twitter{color: #00ffff;}
.fa-sync-alt{color: #212121;}
.fa-copy{color: #fff;}

.fa-twitter:hover{color: #212121;}
.fa-copy:hover{color: #212121;}
.fa-sync-alt:hover{color: #4df70a;}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}