@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.main{
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.quoter{
  width: 400px;
  height: 500px;
  background:linear-gradient(45deg, #ee0979,#ff0426);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 40px #ee097988;
}
.quote-container{
  margin-top: 20px;
  width: 90%;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.controls-container{
  position: relative;
  display: flex;
}

.quote{
  text-align: justify;
}
.author-container{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-style: italic;
}
p{
  font-size: 1.6rem;
}

i{
  font-size: 2.1rem;
  margin: 1rem;
  cursor: pointer;
}
.fa-twitter{color: #00ffff;}
.fa-sync-alt{color: #212121;}
.fa-copy{color: #fff;}

.fa-twitter:hover{color: #212121;}
.fa-copy:hover{color: #212121;}
.fa-sync-alt:hover{color: #4df70a;}

